<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- Android 11+ 查询所有应用的替代方案 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/a2048x2048"
        android:label="@string/app_name"
        android:roundIcon="@drawable/a2048x2048"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleVPN"
        tools:targetApi="31">

        <service
            android:name=".SimpleVPNService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="systemExempted"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name=".VPNTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_tile_f"
            android:label="FastVPN"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <activity
            android:name=".TileSettingsActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NodesActivity"
            android:exported="false"
            android:label="节点管理"
            android:theme="@style/Theme.SimpleVPN.NoActionBar" />

        <activity
            android:name=".SubscriptionActivity"
            android:exported="false"
            android:label="订阅管理"
            android:theme="@style/Theme.SimpleVPN.NoActionBar" />

        <activity
            android:name=".ui.AppExclusionActivity"
            android:exported="false"
            android:label="应用排除设置"
            android:theme="@style/Theme.SimpleVPN.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>